/* standard global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

/* styling for wrapper div */

.gallery {
  height: 200vh;
  width: 200vw;
  background: white;
}

.darkmode #gallery {
  background: black;
}

/* styling for each div element */

.tile {
  border-radius: 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

/* styling and transitions for each img */

.tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/* hover effects for each div and img */

.tile:hover {
  transform: scale(1.1);
}

.tile:hover img {
  opacity: 1;
}

/* lightmode styling for each div */

.tile:nth-child(1) {
  background-color: rgb(100, 241, 100);
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.tile:nth-child(2) {
  background-color: rgb(134, 134, 255);
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.tile:nth-child(3) {
  background-color: violet;
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.tile:nth-child(4) {
  background-color: rgb(255, 204, 109);
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.tile:nth-child(5) {
  background-color: rgb(140, 235, 252);
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.tile:nth-child(6) {
  background-color: rgb(243, 243, 133);
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.tile:nth-child(7) {
  background-color: rgb(179, 140, 202);
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.tile:nth-child(8) {
  background-color: rgb(178, 255, 35);
  height: 10%;
  width: 8%;
  left: 84%;
  top: 84%;
}

/* darkmode styling for each div */

.darkmode .tile:nth-child(1) {
  background-color: rgb(35, 125, 35);
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.darkmode .tile:nth-child(2) {
  background-color: rgb(52, 52, 160);
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.darkmode .tile:nth-child(3) {
  background-color: rgb(195, 0, 195);
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.darkmode .tile:nth-child(4) {
  background-color: rgb(196, 127, 0);
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.darkmode .tile:nth-child(5) {
  background-color: rgb(0, 181, 213);
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.darkmode .tile:nth-child(6) {
  background-color: rgb(195, 195, 0);
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.darkmode .tile:nth-child(7) {
  background-color: rgb(82, 0, 129);
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.darkmode .tile:nth-child(8) {
  background-color: rgb(82, 125, 0);
  height: 10%;
  width: 8%;
  left: 84%;
  top: 84%;
}

/* button  */

button {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none !important;
  height: 10%;
  width: 10%;
}

button img {
  transform: rotate(90deg);
}

.button-darkmode {
  filter: invert(1);
  transform: rotate(180deg);
}

.wrapper-button {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 58%;
  top: 70%;
}
