.netlify
**/.vs
**/bin
**/Demo2023
**/bin
**/Debug
**/obj
**.vs
**bin
**Debug
**obj
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/bin/Debug/net7.0-windows/grafischeSmiley.dll
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/bin/Debug/net7.0-windows/grafischeSmiley.pdb
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.assets.cache
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.dll
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.GeneratedMSBuildEditorConfig.editorconfig
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.csproj.FileListAbsolute.txt
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.genruntimeconfig.cache
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.pdb
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.assets.cache
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.GeneratedMSBuildEditorConfig.editorconfig
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/grafischeSmiley.csproj.nuget.g.props
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/project.assets.json
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/project.nuget.cache
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/grafischeSmiley.csproj.nuget.dgspec.json
/CS_23_24/imperatiefProgrammeren/knoppenklikkerteller/obj/Debug/net7.0-windows/knoppenklikkerteller.GeneratedMSBuildEditorConfig.editorconfig
/CS_23_24/imperatiefProgrammeren/knoppenklikkerteller/obj/Release/net7.0-windows/knoppenklikkerteller.GeneratedMSBuildEditorConfig.editorconfig
/CS_23_24/imperatiefProgrammeren/smileyOpMuis/obj/Debug/net7.0-windows/smileyOpMuis.GeneratedMSBuildEditorConfig.editorconfig
/CS_23_24/imperatiefProgrammeren/verKdag_ScherpeC/obj/Release/net7.0/verKdag_ScherpeC.GeneratedMSBuildEditorConfig.editorconfig
/.vs/LocalRepo/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CS_23_24/imperatiefProgrammeren/grafischeSmiley/.vs/grafischeSmiley/v17/.suo
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.assets.cache
CS_23_24/imperatiefProgrammeren/grafischeSmiley/.vs/grafischeSmiley/v17/.suo
.vs/slnx.sqlite
CS_23_24/imperatiefProgrammeren/grafischeSmiley/bin/Debug/net7.0-windows/grafischeSmiley.pdb
CS_23_24/imperatiefProgrammeren/grafischeSmiley/bin/Debug/net7.0-windows/grafischeSmiley.pdb
CS_23_24/imperatiefProgrammeren/grafischeSmiley/bin/Debug/net7.0-windows/grafischeSmiley.pdb
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.dll
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.genruntimeconfig.cache
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Debug/net7.0-windows/grafischeSmiley.pdb
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.assets.cache
CS_23_24/imperatiefProgrammeren/grafischeSmiley/obj/Release/net7.0-windows/grafischeSmiley.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/knoppenklikkerteller/obj/Debug/net7.0-windows/knoppenklikkerteller.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/knoppenklikkerteller/obj/Debug/net7.0-windows/knoppenklikkerteller.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/knoppenklikkerteller/obj/Release/net7.0-windows/knoppenklikkerteller.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/smileyOpMuis/obj/Debug/net7.0-windows/smileyOpMuis.GeneratedMSBuildEditorConfig.editorconfig
CS_23_24/imperatiefProgrammeren/verKdag_ScherpeC/obj/Debug/net7.0/verKdag_ScherpeC.GeneratedMSBuildEditorConfig.editorconfig
