.netlify
**/.vs
**/bin
**/Demo2023
**/bin
**/Debug
**/obj
**.vs
**bin
**Debug
**obj
/.vs/LocalRepo/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/slnx.sqlite
CS_23_24/imperatiefProgrammeren/mandelPresets.txt
CS_23_24/webtech/HW3/node_modules
CS_23_24/webtech/HW3/log
CS_23_24/webtech/HW3.zip
afbeeldingentijd