*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

#button-home{
    font-size: 3rem;
}

button{
    margin: 20rem;
    padding: 2rem 4rem;
    background: none;
    border: 0.3rem solid rgb(111, 82, 207);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    background: rgb(111, 82, 207);
}

html,
body{
    height: 200%;
}

.container{
    background: cadetblue;
    width: 80%;
    height: 80%;
    margin:auto;
    position: relative;
}

.box1,.box2,.box3{
    width: 20%;
    height: 10%;
    background: rgb(159, 72, 89);
}
.box2{
    background-color: blueviolet;
    position: relative;
    left: 3rem;
}
.box3{
    background: green;
    position: sticky;
    top: 0%;
}

.box1{
    position: absolute;
    bottom: 0%;
    right: 0%;
}