* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
}

html {
  font-size: 62.5%;
}

#best-enjoyed-on-pc {
  display: none;
}

#nav {
  position: sticky;
  width: 100vw;
  height: 10vh;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-button {
  margin: 1rem;
  background-color: grey;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
}

.nav-button:hover {
  background-color: white;
}

#text {
  margin: 15rem;
}

p,
a {
  color: white;
  font-size: 6vw;
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.fancy > .line {
  display: inline-block;
}

.line {
  display: flex;
  justify-content: space-between;
}

.fancy > .letter {
  display: inline-block;
  transition: transform 350ms ease;
}

#text .line .word {
  opacity: 1;
  transition: all ease-in-out;
  transition-duration: 0.3s;
}

.fancy:hover > .letter {
  transition-duration: 800ms;
}

.fancy:hover {
  transform: scale(1.15);
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.3;
}

.fancy:hover > .letter:nth-child(1) {
  transform: translate(-60%, 60%) rotate(8deg);
}

.fancy:hover > .letter:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .letter:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .letter:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .letter:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

@media screen and (max-width: 1452px) {
  #text {
    margin-top: 5rem;
  }

  #best-enjoyed-on-pc {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -400%);
  }

  .fancy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0rem;
  }

  #first-line {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0rem;
    margin-bottom: 13rem;
  }

  #second-line {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0rem;
  }
}

@media screen and (min-width: 2000px) {
  p,
  a {
    font-size: 5.73vw;
  }
}
