* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

#all {
  display: flex;
  flex-wrap: wrap;
}

nav button {
  color: white;
  background: none;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: color 0.2s ease-in-out;
  font-size: 2rem;
  cursor: pointer;
}

nav button:hover {
  color: rgb(216, 72, 0);
}

#background-main button {
  padding: 2rem 6rem;
  background: transparent;
  border: 0.5rem solid;
  color: black;
  border-color: black;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
#background-main button:hover {
  background: black;
  color: white;
}

.background {
  background-color: rgba(0, 0, 0, 0.85);
}

#nav {
  padding: 2.5vh;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
}

#nav h1 {
  font-size: 1vh;
}

#background-main {
  background-image: url("Screenshot_5.png");
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main {
  /* remove the margin property to make the div grow equally with the viewport */
  width: 90%;
  margin: auto;
  align-items: center;
  flex: 1 1 25rem;
  min-height: 70vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.content-main p {
  padding: 5rem;
  padding-top: 1.5rem;
  color: black;
  font-size: 2rem;
}

.content-main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgb(216, 72, 0);
}

#wie-ben-ik {
  margin: 4rem;
  margin-bottom: 0rem;
  flex: 1 1 auto;
  width: 50%;
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#wie-ben-ik h1 {
  padding-top: 0rem;
}

#wie-ben-ik p {
  max-width: 50%;
}

#wat-doe-ik {
  margin: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
  min-height: 30vh;
}

#wat-doe-ik h1 {
  margin-left: 4rem;
  text-align: center;
  justify-content: center;
}

#wat-doe-ik button {
  width: 100vw;
  max-width: 40rem;
  min-width: 20rem;
  margin: 1rem;
  padding: 2rem 6rem;
  background: transparent;
  border: 0.5rem solid;
  color: white;
  border-color: black;
  background-color: black;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#wat-doe-ik .buttons {
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

#wat-doe-ik button:hover {
  background: white;
  color: black;
}

footer {
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 10rem 0 3rem;
  border-top-left-radius: 12.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

#wie-ben-ik,
#wat-doe-ik {
  box-sizing: border-box;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 1rem;
}

.logo {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  #wat-doe-ik .buttons {
    flex-direction: row;
  }

  #wat-doe-ik .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  #wat-doe-ik .button-wrapper:first-child {
    order: 1;
  }

  #wat-doe-ik .button-wrapper:nth-child(2),
  #wat-doe-ik .button-wrapper:nth-child(3) {
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  #wie-ben-ik p {
    max-width: 100%;
  }

  #wat-doe-ik button {
    padding: 2rem;
    min-width: 0rem;
  }
}
