<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/homebrew-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <title>Homebrew</title>
</head>

<body>
  <header class="header--profile position--sticky">
    <% if (session.loggedin) { %>
      <a onclick="window.location.href='/profile'" class="header--profile__login font-size--small link--simple">
        <%= session.username %>
      </a>
      <% } else { %>
        <a onclick="window.location.href='/login'"
          class="header--profile__login font-size--small link--simple">Login</a>
        <% } %>
  </header>
  <header class="header--nav position--sticky">
    <label class="page-header__burger-menu position--sticky">
      <input id="toggle" type="checkbox">
    </label>
    <a href="index">
      <img class="page-header__logo" src="/assets/homebrew-logo.png" alt="Homebrew Press logo">
    </a>
    <nav class="nav--desktop">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li class="nav__current-page"><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="nav--mobile position--sticky">
      <ul class="nav__list font-size--medium">
        <li><a href="book-of-the-month">Book of the month</a></li>
        <li><a href="review">Review</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="about-author">Stephen King</a></li>
        <li class="nav__current-page"><a href="king-books">Other books</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="main--king-books">
    <div class="spacing"></div>
    <article class="king-books__gallery">
      <header class="header--page">
        <h1>Our favourite Stephen King books</h1>
      </header>
      <section class="king-books__table-entry">
        <a href="https://en.wikipedia.org/wiki/Carrie_(novel)">
          <img src="/assets/covers/carrie-cover.jpg" alt="Cover of the book 'Carrie'">
        </a>
        <h2 class="font-size--medium">Carrie</h2>
        <p class="font-size--small">
          Carrie White, a shy high school outcast, discovers her telekinetic
          powers while enduring relentless bullying. When a cruel prank pushes
          her over the edge, she unleashes her terrifying abilities in a
          vengeful rampage that culminates in a catastrophic prom night.
        </p>
      </section>
      <section class="king-books__table-entry">
        <a href="https://en.wikipedia.org/wiki/It_(novel)">
          <img src="/assets/covers/it-cover.jpg" alt="Cover of the book 'It'">
        </a>
        <h2 class="font-size--medium">It</h2>
        <p class="font-size--small">
          In the town of Derry, a group of childhood friends confronts an
          ancient evil entity that preys on their deepest fears, often taking
          the form of Pennywise the Dancing Clown. Reuniting as adults, they
          must confront their past traumas to defeat the malevolent force.
        </p>
      </section>
      <section class="king-books__table-entry">
        <a href="https://en.wikipedia.org/wiki/%27Salem%27s_Lot">
          <img src="/assets/covers/salems-lot-cover.jpg" alt="Cover of the book 'Salem's lot'">
        </a>
        <h2 class="font-size--medium">Salem's Lot</h2>
        <p class="font-size--small">
          Writer Ben Mears returns to his childhood town of Salem's Lot, only
          to find it plagued by an epidemic of vampirism. As the undead spread
          their influence, Ben and a small band of survivors must fight
          against the darkness before it consumes them all.
        </p>
      </section>
      <section class="king-books__table-entry">
        <a href="https://en.wikipedia.org/wiki/The_Green_Mile_(novel)">
          <img src="/assets/covers/the-green-mile-cover.jpg" alt="Cover of the book 'The Green Mile'">
        </a>
        <h2 class="font-size--medium">The Green Mile</h2>
        <p class="font-size--small">
          Set on death row at Cold Mountain Penitentiary during the 1930s, the
          narrative revolves around prison guard Paul Edgecombe and his
          encounter with John Coffey, an enigmatic inmate possessing
          extraordinary healing powers. Their fateful connection leads to
          profound moral and existential questions.
        </p>
      </section>
      <section class="king-books__table-entry">
        <a href="https://en.wikipedia.org/wiki/The_Shining_(novel)">
          <img src="/assets/covers/The_Shining_1977.jpg" alt="Cover of the book 'The Shining'">
        </a>
        <h2 class="font-size--medium">The Shining</h2>
        <p class="font-size--small">
          Jack Torrance, a struggling writer, accepts a job as the winter
          caretaker of the remote Overlook Hotel. Isolated with his family,
          Jack's sanity deteriorates as malevolent forces within the hotel
          manipulate his vulnerabilities. His son, Danny, possesses psychic
          abilities that unlock the hotel's terrifying secrets, leading to a
          desperate battle for survival.
        </p>
      </section>
      <div class="king-books__credit">
        <p class="king-books__credit-text text--subscript">
          <em>The text on this page was generated by
            <a class="link--simple" href="https://chat.openai.com/">ChatGPT</a>. The cover art was taken from each
            books' respective Wikipedia
            page. Click an image to go to the credited page.</em>
        </p>
      </div>
    </article>
  </main>

  <footer class="footer">
    <h3 class="footer__title font-size--medium">Homebrew Press &copy;</h3>
    <div class="footer__logo--wrapper">
      <a class="footer__logo footer__logo--youtube" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">
        <img src="/assets/youtube.svg" alt="YouTube logo">
      </a>
      <a class="footer__logo footer__logo--twitterx" href="https://twitter.com/" target="_blank">
        <img src="/assets/twitterx.svg" alt="X (formerly known as Twitter) logo">
      </a>
      <a class="footer__logo footer__logo--instagram" href="https://www.instagram.com/stickyutrecht/" target="_blank">
        <img src="/assets/instagram.svg" alt="Instagram logo">
      </a>
    </div>
  </footer>
</body>

</html>