<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form id="reserve">
    <p>Book ID: <input type="text" id="reserveid" placeholder="Book ID" /></p>
    <p><input class="button" type="submit" value="Reserve" /></p>
  </form>
  <form id="return">
    <p>Book ID: <input type="text" id="returnid" placeholder="Book ID" /></p>
    <p><input class="button" type="submit" value="Return" /></p>
  </form>
</body>
<script src="scripts/getdata.js"></script>


</html>