@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@800&display=swap");

:root {
  --dark-bg: rgba(15, 15, 15, 0.275);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

h1 {
  display: none;
  background-color: transparent;
}

header {
  margin-top: 16.2rem;
}

h1,
h2,
blockquote {
  font-family: "Sono", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0.25rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: rgba(15, 15, 15, 0.6);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
  line-height: 4rem;
}

#first-quote {
  margin-top: 1rem;
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

#contact {
  margin-bottom: 0rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
span,
textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75rem;
  border: 2px solid #666;
  /* box-sizing: border-box; */
  /* padding: 0.5em 1em; */
}

input[type="text"],
input[type="email"],
textarea {
  width: 6em;
  padding: 0.5em 1em;
  color: #555;
  border-radius: 2em;
  outline: 0;
}

textarea {
  resize: none;
  scrollbar-width: none;
  height: 10rem;
  transition: 0.4s ease-in-out;
}

textarea::-webkit-scrollbar {
  display: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #ff7996;
}

textarea:focus {
  width: 50rem;
}

span {
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 6em;
}

input[type="submit"] {
  appearance: none;
  background-color: white;
  border: 2px solid #1a1a1a;
  color: black;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 2rem;
  outline: none;
  padding: 16px 24px;
  width: 100%;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

input[type="submit"]:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

input[type="submit"]:disabled {
  pointer-events: none;
}

input[type="submit"]:active {
  box-shadow: none;
  transform: translateY(0);
}

#contact-buttons {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#contact-buttons > a:hover {
  animation: 0.4s ease-in-out emote forwards;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.contact-button-img {
  width: 50%;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(104deg)
    brightness(106%) contrast(99%);
}

.contact-button-img-arrow {
  width: 50%;
  height: auto;
  transform: rotate(-90deg);
  scale: 75%;
}

@keyframes emote {
  25% {
    transform: scale(110%);
  }
  50% {
    transform: translateY(3px);
    transform: rotate(8deg);
  }
  75% {
    transform: translateY(3px);
    transform: rotate(-8deg);
  }
  100% {
    transform: scale(100%);
  }
}
